<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Form Login</h2>
<form action="/login" method="post">
    <label>Username:</label><br>
    <input name="username" type="text" placeholder="poly"><br>

    <label>Pass:</label><br>
    <input name="password" type="password" placeholder="123"><br>

    <label>RememberMe:</label>
    <input type="checkbox" name="remember" value="true"><br>

    <button type="submit">Login</button>
</form>
</body>
</html>
